body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
}

.card input {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    width: 20 rem;
    
}
h2{
    color: aliceblue;
    
}
.card {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px); /* Add blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
  border: 1px solid rgba(255, 255, 255, 0.5);
}
body {
    background-image: url('/static/images/wether.jpg');;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}
.alert-info {
    background-color: rgba(255, 255, 255, 0.3);
    color: #000;
    border: none;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
    transition: transform 0.3s ease;
}

.alert-info:hover {
    transform: scale(1.02);
}


